<div class="container-fluid">
  <div class="row">
    <aside class="col-xs-12 col-sm-3">
      <%- partial('_partial/author-bar') %>
    </aside>
    <div class="col-xs-12 col-sm-9">
      <% page.posts.each(function(post){ %>
      <%- partial('_partial/article', {post: post, preview: true}) %>
      <% }) %>
    </div>
  </div>
</div>
