<article>
  <header class="archive-article-header">
    <h1 itemprop="name">
      <a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
    </h1>
  </header>
</article>
