<div class="kz-author-bar">
  <h3>Dmitriy Kazinov</h3>
  <p>Lorem ipsum dolor sit amet, ut ius fuisset deserunt neglegentur. Solum lorem iuvaret no qui, qui at malorum
    omnesque. Per no magna bonorum consectetuer, nibh reprimique ne has, duo ex exerci nusquam. Sit integre inermis
    periculis ne, id ius ubique legendos.
    Ut sea nobis impedit intellegebat, maiorum inciderint usu cu, usu in saperet apeirian definitiones. Eum omnes
    nonumy corrumpit cu, laboramus constituam at usu, usu velit atomorum interesset at. Nec regione deserunt
    reprimique an, ne detracto definitiones his. Mel vivendum praesent at, adhuc porro offendit per cu, nec posse
    equidem comprehensam no. Repudiare conclusionemque ex usu, pri ei quot aliquip, mei reque democritum ad.
    Sea equidem accusamus ex, exerci elaboraret cum eu.
  </p>
</div>
