<div class="kz-author-bar">
  <img class="img-responsive img-rounded kz-author-pic" src="/img/avatar.png" />
  <h3>Dmitriy Kazinov</h3>
  <div class="kz-share-buttons text-center" role="group" aria-label="share">

    <a href="" target="_blank" title="Twitter">
      <i class="fa fa-lg fa-github"></i>
    </a>

    <a href="" target="_blank" title="Twitter">
      <i class="fa fa-lg fa-twitter"></i>
    </a>

    <a href="" target="_blank" title="Facebook">
      <i class="fa fa-lg fa-facebook"></i>
    </a>
  </div>

  <p class="kz-author-info">Software developer at <a href="http://versus.com" target="_blank">versus.com</a>
  </p>
</div>
