<% if (!preview){ %>
<div class="kz-share-buttons" role="group" aria-label="share">

    <a href="https://twitter.com/intent/tweet?url=<%- encodeURIComponent(post.permalink) %>" target="_blank" title="Twitter">
      <i class="fa fa-twitter"></i>
    </a>

    <a href="https://www.facebook.com/sharer.php?u=<%- encodeURIComponent(post.permalink) %>" target="_blank" title="Facebook">
      <i class="fa fa-facebook"></i>
    </a>

    <a href="https://plus.google.com/share?url=<%- encodeURIComponent(post.permalink) %>" target="_blank" title="Google+">
      <i class="fa fa-google-plus"></i>
    </a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%- encodeURIComponent(post.permalink) %>" target="_blank" title="LinkedIn">
      <i class="fa fa-linkedin"></i>
    </a>

</div>
<% } %>
