@import "_bootstrap.css"
@import "_highlight-drakula.styl"
@import "_font-awesome.css"

.kz-author-bar
  text-align justify
  padding-top: 2rem;

.kz-article-date
  margin-bottom 1rem

.kz-share-buttons
  a
    color: inherit;
    margin-right: 1rem;
  a:hover, a:visited, a:link, a:active
    color: inherit;
    text-decoration none

.kz-author-info
  margin-top 1rem

.btn
  a
    color: inherit

article
  margin-bottom 1rem

article
  header
    margin-bottom 1rem
